.modal{
  background-color: var(--bg-color-secundary);
  padding: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  color: var(--color-text);
  height: 70%;
}

.modal__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding: 20px;
}

.modal__header-title{
  background: linear-gradient(70deg, var(--green-color) 25%,var(--blue-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--blue-color);
}

.form-modal{
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-text);
}

.form-modal__name,
.form-modal__description,
.form-modal__date{
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  color: var(--color-text);
  background-color: var(--bg-color);
}

.form-modal__description{
  height: 80%;
  resize: none;
}

.buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boton {
  font-size: 18px;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform .3s ease;
}

.boton:hover{
  transform: scale(1.2);
}

.boton.submit{
  background-color: var(--green-color);
}

.boton.cancel{
  background-color: var(--red-color);
}

.boton.submit.solo{
  width: 100%;
}