.task{
  width: 100%;
  height: min-content;
  border-radius: 0px 30px 30px 0px;
  background-color: var(--bg-color-secundary);
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
}

.task__content{
  width: 90%;
  padding: 20px;

}

.task.incomplete{
  border-left: 20px solid var(--red-color);
}

.task.complete{
  border-left: 20px solid var(--green-color);
}

.task__title,
.task__description{
  opacity: .75;
}

.task__title{
  font-size: 40px;
}

.task__description{
  font-size: 20px;
}

.task__options{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.task__delete,
.task__complete{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__delete{
  border-radius: 0px 30px 0px 0px;
}

.task__delete:hover{
  background-color: var(--red-color);
}

.task__complete{
  border-radius: 0px 0px 30px 0px;
}

.task__complete:hover{
  background-color: var(--green-color);
}
