.application{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search{
  margin-top: 30px;
  width: 60%;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: var(--bg-color-secundary);
  color:var(--color-text);
  border: none;
  font-size: 20px;
}

.tareas{
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.pendientes,
.completadas {
  height: 800px;
  width: 38%;
  display: flex;
  padding: 20px 40px 0px 40px; 
  display: flex;
  flex-direction: column;
}

.tareas__status{
  width: 100%;
  height: max-content;
  font-size: 50px;
}

.tareas__content {
  max-height: 85%;
  overflow: auto;
  margin-top: 20px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tareas__content::-webkit-scrollbar {
  width: 5px;
}

.tareas__content::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-secundary);
  border-radius: 30px;
}

.pendientes .tareas__status {
  color: var(--red-color);
  border-bottom: 3px solid var(--red-color);
}

.completadas .tareas__status {
  color: var(--green-color);
  border-bottom: 3px solid var(--green-color);
}

.img-div{
  position: absolute;
  left: 30px;
  bottom: calc((100vh - 100px) - 50%);
  background-color: var(--bg-color-secundary);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  flex-direction: row;
  cursor: pointer;
  gap: 20px;
  transition: transform .3s ease;
  color: var(--color-text);
}

.img-plus{
  opacity: .7;
}

.img-div:hover::after{
  content: "Nueva nota";
}