.userPage{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: var(--bg-color);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-card{
  background-color: var(--bg-color-secundary);
  width: 800px;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 30px;
  flex-direction: column;
  min-width: 270px;
}

.user-card__info,
.user-info__edit{
  width: 100%;
  border-radius: 30px;
}
/* CARD DE INFORMACION*/
.user-card__info{
  background-color: var(--bg-color);
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.user-div{
  display: flex;
  gap: 20px;
  align-items: center;
}

.user-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(70deg, var(--green-color) 25%,var(--blue-color));
}

.user-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-content__name{
  font-size: 30px;
}

.logout{
  cursor: pointer;
  transition: transform .3s ease;
}

.back{
  position: absolute;
  left: 40px;
  bottom: calc(100vh - 50%);
  transition: transform .3s ease;
}

.back:hover,
.logout:hover{
  transform: scale(1.2);
}

/* FORMULARIO PARA ACT EL USER */

.user-info__edit{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-info__title{
  background: linear-gradient(70deg, var(--green-color) 5%,var(--blue-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--blue-color);
  font-size: 45px;
}

.user-form{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.user-form__campos{
  display: flex;
  flex-direction: column;
  color: var(--color-text);
}

.user-form__label{
  color: var(--color-text);
  opacity: .7;
}

.user-form__campo{
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: var(--bg-color);
  color: var(--color-text);
  margin-bottom: 20px;
}

@media (max-width:1030px) {
  .userPage{
    flex-direction: column;
    height: max-content;
  }
  .back{
    position: initial;
    display: block;
  }
}

@media (max-width:800px) {
  .user-card{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
  }
}

@media (max-width:550px) {
  .user-card__info{
    flex-direction: column;
  }
}

@media (max-width:420px) {
  .user-div{
    flex-direction: column;
  }
}