.add-task{
  background-color: var(--bg-color-secundary);
  padding: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  color: var(--color-text);
  height: 500px;
}

.add-task__link{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

@media (max-width:450px) {
  .add-task{
    width: 100%;
  }
}